body {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 0;
}

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    padding: 12px 24px;
}

.header-img {
    max-height: 75px;
    max-width: 75px;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    gap: 12px;    
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.site-intro {
    display: flex;
    background: #1f2937;
    align-items: center;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    font-size: 24px;
    align-items: start;
    justify-content: center;
    padding: 34px;
}

.take-a-look {
    min-height: 52px;
    min-width: 132px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: rgb(32, 160, 160);
    color: #ffffff;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    flex: 1;
    padding: 16px 32px;
    
}

.quote {
    align-self: flex-start;
    font-size: 36px;
    font-weight: 300;
    padding: 16px 32px;
}

.quoter {
    align-self: flex-end;
    padding: 2px 32px;
    font-size: 24px;
}

.goodbye-banner {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    align-items: center;
    flex: 1;
    margin: 80px;
    padding: 16px 36px;
    border-radius: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    background: #1f2937;
    color: #f9faf8;
    padding: 32px;
}

img {
    height: auto;
    width: 13vh;
}

.text {
    font-size: 18px;
    text-align: center;
}